.dashboard-container {
    padding: 15px;
    background-color: #f6f6f6;
    border-radius: 5px;
    min-height: 90vh;
  }
  
  .dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .logout-btn {
    background-color: rgb(167, 0, 0);
    color: white;
    border-radius: 5px;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
  }
  
  .dashboard-content {
    display: grid;
    gap: 20px;
  }
  